---
import { LATEST_VERSION } from '../lib/product-versions';
---

<a href={`/${LATEST_VERSION.id}/`} class="opuscor-logo" aria-label="SQL Cor docs home">
  <span class="opuscor-logo-bracket">[SQL</span>
  <span class="opuscor-logo-text">Cor</span>
  <span class="opuscor-logo-bracket">]</span>
</a>
